body{
    background-color: #F5F5F5;
}

#tabuleiro{
    background-color: #D8BFD8;
    padding: 0px 10px 20px 0px;
}

#placar{
    margin-top: 40px;
}

#card01{
    border: 1px solid #E6E6FA;
    max-height: 230px;
    margin-top: 40px;
}

#card02{
    border: 1px solid #E6E6FA;
    max-height: 230px;
    margin-top: 40px;
}

#card03{
    border: 1px solid #E6E6FA;
    max-height: 230px;
    margin-top: 40px;
}

#card04{
    max-height: 230px;
    margin-top: 40px;
}

#imgVs{
    margin-top: 120px;
}